body{
    background-image: url(https://i.ytimg.com/vi/UiAtTPMXb7k/maxresdefault.jpg);
    background-size:cover;
    background-repeat:repeat;
}
.hyousi h2{
    position: absolute;
    top:50px;
    left:800px;
}
.hyousi h3{
    position:absolute;
    top:90px;
    left:800px;
}
.hyousi p{
    position: relative;
    top:10px;
    left:00px;
}
.hyousi img{
    position:absolute;
    top:50px;
}
.form{
    position: absolute;
    top:300px;
    left:100px;
}
.form textarea{
    width:400px;
    height:500px;
}
.sousin input{
    position:absolute;
    left:365px;
}
